.mainindex{
    
    background-color: black;
    background-image: url(https://cdn.discordapp.com/attachments/1229063049072214089/1231974452300873769/1567666.png?ex=6638e89e&is=6626739e&hm=3633ffd0a526e622f7abe2fb0ee40ed375f75acd42f41770f67b3446f5899e2c&);

}


button:hover{

    color: whitesmoke

}

